asgiref==3.8.1
Django==5.1.5
firebase-admin==6.5.0
google-api-core==2.19.1
google-auth==2.35.0
google-cloud-core==2.4.1
google-cloud-firestore==2.18.0
google-cloud-storage==2.18.2
grpcio==1.67.1
requests==2.32.3  
gunicorn==23.0.0         # for deployment on Render/Heroku/etc.
whitenoise==6.7.0  
